# Generic
**/*.tar.gz
**/*.tgz
/.idea/*
/__pycache__/*

# Casa data
**/*.ms
**/*.ms.flagversions
**/*.last
**/*.log
**/metadata
**/fullms

# Casa calibration
**/*.antpos
**/*.B0
**/*.G0all
**/*.G[0-9]
**/*.K[0-9]
**/*.fluxscale[0-9]
**/*.initBP
**/*.initBP.flagversions
**/*.initPh

# Casa imaging
**/*-dirty*
**/*.tt[0-9]
**/*-p[0-9]*
**/*.p[0-9]*
*.alpha.error/
*.alpha/
*.mask/
/Programs/*
/Data Processing/25A-tab9-pipeline/
**/*.gc/
**/*.opac/
**/*.rq/
*.ms.*
*.ms_*
*.ms_*
*.g/
*.g/
*.g/
**/pipeline-*
**/pipeline_aquareport.xml
**/flux.csv
**/casa_piperestorescript.py
**/products/
**/*.flagcmds.txt
**/final_field1_gain_good_spw_avged/
**/bptable_fitted.b/
**/testphase_inf_b_allspw.b/
**/*.cl
**/*rtf
