# Generic
**/*.tar.gz
**/*.tgz
/.idea/*
/__pycache__/*

# Casa data
**/*.ms
**/*.ms.flagversions
**/*.last
**/*.log
**/metadata
**/fullms

# Casa calibration
**/*.antpos
**/*.B0
**/*.G0all
**/*.G[0-9]
**/*.K[0-9]
**/*.fluxscale[0-9]
**/*.initBP
**/*.initBP.flagversions
**/*.initPh

# Casa imaging
**/*-dirty*
**/*.tt[0-9]
**/*-p[0-9]*
**/*.p[0-9]*
*.alpha.error/
*.alpha/
*.mask/
/Programs/*
/Data Processing/25A-tab9-pipeline/
**/*.gc/
**/*.opac/
**/*.rq/
*.ms.*
*.ms_*
*.ms_*
*.g/
*.g/
*.g/
**/pipeline-*
**/pipeline_aquareport.xml
**/flux.csv
**/casa_piperestorescript.py
**/products/
**/*.flagcmds.txt
**/final_field1_gain_good_spw_avged/
**/bptable_fitted.b/
**/testphase_inf_b_allspw.b/
**/*.cl
**/*rtf
/Image-Processing/RXJ1720.1+2638/Lband/full_image/outlier1_sc2_ms_am_br0start.beta/
/Image-Processing/RXJ1720.1+2638/Lband/full_image/image.beta/
/Image-Processing/RXJ1720.1+2638/Lband/full_image/outlier2_sc2_ms_am_br0start.beta/
/Image-Processing/RXJ1720.1+2638/Lband/minihalo/image_subtracted.beta/
/Image-Processing/RXJ1720.1+2638/Lband/minihalo/new_sub.beta/
/Image-Processing/RXJ1720.1+2638/Lband/minihalo/outlier1_sc2_ms_am_br0start.beta/
/Image-Processing/RXJ1720.1+2638/Lband/minihalo/outlier2_sc2_ms_am_br0start.beta/
**/*.aux
**/*.blg
**/*.fdb_latexmk
**/*.bbl
**/*.fls
**/*.out
**/*.synctex.gz
**/*.toc
**/*.fits
/Admin/thesis/Chapter5/vla_images/rxj1720_masks/
/Admin/thesis/Chapter4/fluxboot_secondary_fits/
/Image-Processing/RXJ1720+2638/Lband/
**/*.pbcor.workdirectory/
*.bcf
*.run.xml
